:root {
	--soft-blue: hsl(215, 51%, 70%);
	--cyan: hsl(178, 100%, 50%);

	/* Neutral */

	--very-dark-blue-body: hsl(217, 54%, 11%); /*(main BG)*/
	--very-dark-blue: hsl(216, 50%, 16%); /*(card BG)*/
	--very-dark-blue-text: hsl(215, 32%, 27%);
	--white: hsl(0, 0%, 100%);

	/* Typography */

	/* Body Copy */

	--font-size: 18px; /* (paragraph) */

	/* Font */

	--font-family: 'Outfit', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	max-width: 100%;
}

body {
	background-color: var(--very-dark-blue-body);
	color: var(--soft-blue);
	font-family: var(--font-family);
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-wrapper {
	width: 100%;
	max-width: 350px;
	display: flex;
	flex-direction: column;
	background-color: var(--very-dark-blue);
	border-radius: 20px;
	padding: 1.5rem;
}

.img-container {
	display: flex;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
}

.img-container::after {
	content: '';
	background-color: var(--cyan);
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.hover-effect {
	position: absolute;
	top: 50%;
	right: 34%;
	transform: translate(-50%, -50%);
	z-index: 1;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.img-container:hover::after,
.img-container:hover .hover-effect {
	opacity: 0.4;
}

.title {
	margin-top: 1rem;
	color: var(--white);
}

.title:hover {
	color: var(--cyan);
}

.desc {
	margin: 1rem 0;
	color: var(--soft-blue);
}

.quan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.quan p {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.4rem;
}

.quantity {
	color: var(--cyan);
}

hr {
	opacity: 0.2;
}

footer {
	margin-top: 1rem;
	display: flex;
	gap: 0 1rem;
	justify-content: flex-start;
	align-items: center;
}

.user-image {
	width: 40px;
	height: 40px;
	border: 2px solid var(--white);
	border-radius: 50%;
}

footer p a {
	text-decoration: none;
	color: var(--white);
}

footer p a:hover {
	color: cyan;
}

.attribution {
	padding: 20px;
	color: var(--white);
	flex-shrink: 0;
}
